@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);















#menu-6 .mbr-brand__name {
  font-size: 16px;
}
#menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-6 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header4-4 H1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
}
#header4-4 P {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
#header4-4 .btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
#features1-2 .mbr-section__col .mbr-header__text {
  color: #3c3c3c;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
}
#features1-2 P {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#header1-3 H1 {
  font-family: 'Open Sans', sans-serif;
}
#header1-3 P {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
#features1-7 .mbr-section__col .mbr-header__text {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}
#features1-7 P {
  color: #1e1e1e;
}
#content5-5 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#content5-5 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-5 .mbr-article {
  color: #fff;
}
#content5-5 .mbr-article P {
  text-align: center;
}
#features1-7 .mbr-section__col .mbr-header__text SPAN {
  font-size: 10px;
  color: #efefef;
}
#features1-7 .mbr-section__col .mbr-header__text {
  font-size: 16px;
  color: #777777;
}
#features1-7 P {
  font-size: 16px;
  color: #777777;
  font-family: 'Open Sans', sans-serif;
}
#features1-7 .mbr-section-title .mbr-header__text {
  color: #ffffff;
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
}
#form2-14 .mbr-header__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
}
#header1-13 H1 {
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
}
#header1-13 P {
  font-size: 16px;
}
#msg-box3-15 .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
#msg-box3-15 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#form1-16 .mbr-header__text {
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}
