/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
        /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: white;
    -webkit-font-smoothing: antialiased;
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: lighter;
}

.absolute-left {
    position: absolute;
    left: 0;
    top: 0;
    right: 50%;
    bottom: 0;
    background-position: center;
}

.map {
    background-image: url('../img/mocks/bild_3_map.jpg');
}

.absolute-right {
    position: absolute;
    left: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    background-position: center;
}

.camera {
    background-image: url('../img/mocks/bild_2_bar.jpg');
}

.location {
    background-image: url('../img/mocks/bild_1_boote.jpg');
}

.half-container {
    max-width: 600px;
}

.map-wrapper img, .location-wrapper img, .camera-wrapper img {
    margin: 0 auto;
    max-height: 500px;
    padding: 50px;
}

h1.heading {
    font-weight: 100 !important;
    text-transform: uppercase;
    font-size: 60px;
    margin-bottom: 35px;
    margin-top: 200px;
    max-width: 100%;
}

h2.heading {
    font-size: 40px;
    font-weight: 100 !important;
    max-width: 100%;
}

h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: lighter;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.background-image {
    /*background-image: url(../img/header.jpg); */
    background-color: #FF664D;
    background-size: cover;
    min-height: 100vh;
}

.background-image .container {
    position: relative;
}

.relative {
    position: relative;
}

.header-teaser {
    text-transform: uppercase;
    color: white;
    font-weight: 800;
    font-size: 40px;
}

.header-container {
    margin-top: 50px;
}

.description {
    margin-top: 25px;
    font-size: 22px;
}

.mock-container img {
    padding-right: 25px;
}

form.register input.mail {
    width: 100%;
    border: none;
    border-bottom: 1px solid #DEDEDE;
    font-size: 22px;
    outline: none !important;
    text-align: left;
}

form.register input.submit {
    border-radius: 20px;
    border: 1px solid #404040;
    padding: 3px 13px;
    background: white;
    font-size: 22px;
    margin-top: 20px;

    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    outline: none;
}

form.register input.submit:hover {
    background: #404040;
    color: white;
}

form.register {
    text-align: left;
}

.countdown {
    padding-top: 15px;
    padding-right: 0;
}

img.logo {
    max-width: 270px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.mock-container-mobile.mobile {
    float: left;
    margin-top: -40%;
    padding-bottom: 25px;
}

ul.footer-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    float: left;
    width: 100%;
    padding-top: 50px;
}

ul.footer-menu li {
    display: inline-block;
}

ul.footer-menu li a {
    float: left;
    padding: 5px;
    color: #404040;
    font-size: 20px;
    border-radius: 3px;
    text-decoration: none;
}

ul.footer-menu li.first a {
    padding-left: 0;
}

.success, .error {
    font-size: 25px;
    display: none;
}

.success.thanks {
    display: block;
}

.success {
    background-color: white;
    color: #404040;
    padding: 0;
}

.error {
    background-color: #ff4637;
    color: white;
    padding: 2px 10px;
    border-radius: 3px;
}

.conflict, .generic {
    display: none;
}

.error.generic, .error.conflict, .error.generic .generic, .error.conflict .conflict, .error-feedback.generic, .error-feedback .generic {
    display: block;
}

.countdown {
    padding-bottom: 30px;
}

.circle {
    float: left;
    width: 100%;
    padding: 10px;

    background-size: 80%;
    background-position: center;
}

.red {
    background: #ff4637;
    color: white;
    padding: 50px 0;
    font-weight: bold;
}

.wrapper {
    position: relative;
    padding: 5px;
}

.center {
    text-align: center;
}

.wrapper h4.sub {
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.lighter {
    font-weight: lighter;
}

.circle#design {
    background-image: url(../img/icons/pinsel.svg);
}

.circle#usertests {
    background-image: url(../img/icons/baustelle.svg);
}

.circle#development {
    background-image: url(../img/icons/werkzeug.svg);
}

.circle#marketing {
    background-image: url(../img/icons/info.svg);
}

.social-wrapper ul {
    list-style: none;
    width: 100%;

    float: right;
    padding-top: 50px;
}

.social-wrapper ul li {
    float: right;
    padding-right: 40px;
    font-size: 20px;
    font-weight: normal;
}

.social-wrapper ul li a {
    color: white;
    text-decoration: none;
}

.social-wrapper ul li img {
    height: 20px;
    width: auto;
    margin-top: -4px;
}

.center-wrapper {
    margin: 0 auto;
    width: 100%;
}

@media (max-width: 991px) {
    .wrapper h4.sub {
        font-size: 16px;
    }
}

@media (max-width: 767px) {

    .header-container {
        margin-top: 20px;
    }

    .absolute-left, .absolute-right {
        display: none;
    }

    .mock-container img {
        padding: 20px 0;
        padding-right: 50px;
        padding-left: 20px;
    }

    .camera-wrapper {
        background-image: url('../img/mocks/bild_2_bar.jpg');
    }

    .location-wrapper {
        background-image: url('../img/mocks/bild_1_boote.jpg');
    }

    .map-wrapper {
        background-image: url('../img/mocks/bild_3_map.jpg');
    }

    .camera-wrapper, .location-wrapper, .map-wrapper {
        background-size: cover;
        margin: 0 -30px;
    }

    img.logo {
        width: 100%;
        max-width: none;
    }

    .description {
        margin-bottom: 35px;
    }

    h1 {
        max-width: 85%
    }

    .countdown {
        padding: 0;
    }

    .circle {
        padding: 22%;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        background-position: center 77%;
        padding-bottom: 0;
    }

    .wrapper h4.sub {
        font-size: 25px;
    }

    .mock-container {
        padding: 0
    }

    form.register {
        text-align: center;
    }

    form.register input.mail {
        width: 90%;
        text-align: center;
    }

    ul.footer-menu {
        text-align: center;
    }

    .container {
        padding: 0 30px;
    }

    .header-teaser {
        font-size: 25px;
    }

    img.logo {
        margin-top: 0;
        max-width: 300px;
    }

    .social-wrapper ul li {
        float: left;
        width: 100%;
        text-align: left;
        padding: 3px 0;
    }

}

.submit-container {
    float: left;
    width: 100%;
    margin-top: 20px;
    height: 100px;
}

.loading-spinner {
    display: none;
}

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

.text-padding {
    padding: 50px 30px;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}